# XDeamon systemd service file

[Unit]
Description=XEngine XDeamon Service
Documentation=http://www.xyry.org
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
PIDFile=xdeamon.pid
ExecStart=/home/ubuntu/XEngine_Deamon/XEngine_Release/XEngine_DeamonApp
ExecReload=binkill -s HUP $MAINPID
ExecStop=binkill -s QUIT $MAINPID